<header class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
          <nav>
            <ul>
              <li>
                <a
                  routerLink="/home"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  routerLink="/aboutus"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >aboutus</a
                >
              </li>
              <!-- <li>
                <a
                  routerLink="/contactus"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Contact us</a
                >
              </li> -->
              <!-- <li>
                <a
                  routerLink="/login"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Login</a
                >
              </li> -->
            </ul>
          </nav>
          <ul class="closebar">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
